<div class="container">
  <div id="<%= dom_id address_geolocation %>">
    <p>
      <strong>Address:</strong>
      <%= address_geolocation.address %>
    </p>

    <p>
      <strong>Address Type:</strong>
      <%= address_geolocation.address_type %>
    </p>

    <p>
      <strong>IP:</strong>
      <%= address_geolocation.ip %>
    </p>

    <p>
      <strong>Meta:</strong>
      <%= address_geolocation.meta %>
    </p>
  </div>
</div>
